@model WebShop.Models.Order

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOrderAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalOrderAmount)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Produkt Namn</th>
            <th>Produkt Beskrivning</th>
            <th>Produkt Antal</th>
            <th>Produkt Pris</th>
            <th>Total Summa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.orderDetails)
        {
            var totalAmount = order.Product.ProductPrice * order.ProductQuantity;
            <tr>
                <td>@order.Product.ProductName</td>
                <td>@order.Product.ProductDisctiption</td>
                <td>@order.ProductQuantity</td>
                <td>@order.Product.ProductPrice</td>
                <td>@totalAmount</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="OrderLog">Tillbaka</a>
</div>


