@model IList<WebShop.Models.Product>
@inject CurrencyConverter currency
@{
    ViewData["Title"] = "Kundvagn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post))
{
    <h1>Kundvagn</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>

                <th>
                    Pris
                </th>
                <th>
                    Antal
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{
                decimal totalPrice = 0;
            }
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @Model[i].ProductName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => @Model[i].ProductPrice)
                    </td>
                    <td>
                        <a asp-action="RemoveQuantity" asp-route-i="@Model[i].ProductId" style="margin-right:5px; font-size:medium; text-decoration:none;">-</a>
                        @Html.DisplayFor(modelItem => @Model[i].Quantity, new {type="number"})
                        <a asp-action="AddQuantity" asp-route-i="@Model[i].ProductId" style="margin-left:5px; font-size:medium; text-decoration:none;">+</a>
                    </td>
                    <td>
                        <a asp-action="RemoveCartItem" asp-route-i="@i">Ta bort</a>
                    </td>
                </tr>
                
                totalPrice += @Model[i].ProductPrice * Model[i].Quantity;
            }
        </tbody>

    </table>
    
    <h4>Totalt: @totalPrice Kr / @currency.ConvertToEUR(totalPrice) Euro / @currency.ConvertToUSD(totalPrice) USD</h4>
    <a class="btn btn-secondary" asp-area="" asp-action="EmptyCart">Töm kundvagn</a>
    <input class="btn btn-primary" type="submit" value="Till Betalning" />
    
}
