@model IEnumerable<WebShop.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <button class="product-btn"><a asp-action="Create">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr class ="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDisctiption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDisctiption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                    <button class="btn btn-primary"><a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a></button>
                <button class="btn btn-primary"><a asp-action="Details" asp-route-id="@item.ProductId">Details</a></button>
                <button class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
